@model List<ResultNotificationDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Notification Transactions</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Notification List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can perform transactions related to the Notification from below
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Mark as Read</th>
                                    <th scope="col">Mark as Unread</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.Description</td>
                                        <td>@item.Date</td>
                                        <td>@item.Status</td>
                                        <td><a href="/Notifications/DeleteNotification/@item.NotificationId" class="btn btn-outline-danger">Delete</a></td>
                                        <td><a href="/Notifications/UpdateNotification/@item.NotificationId" class="btn btn-outline-success">Update</a></td>
                                        <td><a href="/Notifications/NotificationStatusChangeToTrue/@item.NotificationId" class="btn btn-outline-warning">Read</a></td>
                                        <td><a href="/Notifications/NotificationStatusChangeToFalse/@item.NotificationId" class="btn btn-outline-primary">Unread</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Notifications/CreateNotification/" class="btn btn-outline-primary">Add New Notification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>