
@{
    Layout = null;
    // UILAYOUT
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
 

    <!-- book section -->
    @RenderBody()
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

    <!-- footer section -->
    <!-- jQery -->
   

</body>

</html>
