@model List<ResultMenuTableDto>
@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">	Momentary Table Status Page</h4>
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-certificate"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">@x.Name</p>
                                        <h4 class="card-title">@x.Status</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
    </div>
</div>
