@model List<ResultSocialMediaDto>

<div class="footer_social">
    @foreach (var x in Model)
    {
        <a href="@x.Url">
            <i class="@x.Icon" aria-hidden="true"></i>
        </a>
    }
</div>