@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Main Page Contact Information Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add New Contact</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Location">Enter Location</label>
                                <input type="text" class="form-control" asp-for="Location" id="Location" placeholder="Enter Location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Enter Phone Number </label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Enter Mail Adress</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail" placeholder="Enter Email Adress">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FooterDescription">Enter Description</label>
                                <textarea rows="5" class="form-control" asp-for="FooterDescription" id="FooterDescription"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Add Contact Information</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





