@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_UILayoutHeaderPartialComponent")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")


        @await Component.InvokeAsync("_UILayoutSidebarComponentPartial")


        <div class="main-panel">
            @RenderBody()

            @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
</body>
</html>



